<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Logged In</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <form action="/logout" method='POST'>
                <div class="form-group">
                    <button class="btn btn-danger">Log out</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>